body{
	overflow-x: hidden;
}

.page{
	padding: 100px 50px;
}

@media (max-width: 768px) {
	.page{
		padding: 100px 20px;
	}
}

.large-header {
   position: relative;
   width: 100%;
   background-image: url('../images/header-animation.jpg');
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

hr.style-one { border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); }
hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(252, 172, 69, 0), rgba(252, 172, 69, 0.75), rgba(252, 172, 69, 0)); }
hr.style-three { border: 0; border-bottom: 1px dashed #ccc; background: #999; }
hr.style-four { height: 12px; border: 0; box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.3); }
hr.style-five { border: 0; height: 0; /* Firefox... */ box-shadow: 0 0 10px 1px black; } hr.style-five:after { /* Not really supposed to work, but does */ content: "\00a0"; /* Prevent margin collapse */ }
hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
hr.style-seven { height: 30px; border-style: solid; border-color: black; border-width: 1px 0 0 0; border-radius: 20px; } hr.style-seven:before { /* Not really supposed to work, but does */ display: block; content: ""; height: 30px; margin-top: -31px; border-style: solid; border-color: black; border-width: 0 0 1px 0; border-radius: 20px; }
hr.style-eight { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; }

.navbar-style {
  background-color: #281B02;
  color: #ffffff;
}

.profile .name{
	margin-top: 30px;
}
.profile .name .title{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 0;
}
.profile .name .sub-title{
	font-size: 18px;
	margin-top: 5px;
}

.education-title{
	text-shadow: 2px 2px black;
}
.education-title .icon{
	margin-top: 30px;
	margin-bottom: 0;
	font-size: 45px;
}
.education-title .title{
	margin-top: 10px;
	margin-bottom: 15px;
	color: white;
}
.education-title .sub-title{
	font-size: 20px;
}
.education{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.education.red{
	border-bottom: 4px solid #CB1313;
}
.education.yellow{
	border-bottom: 4px solid #FFDB00;
}
.education.blue{
	border-bottom: 4px solid #1E69FF;
}
.education.purple{
	border-bottom: 4px solid #A60EA6;
}
.education .logo{
	width: 80px;
	position: absolute;
	margin-top: -60px;
	background: white;
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	border: 4px solid #D4D4D4;
	border-top: 0;
}

.education .text{
	color: #4D4D4D;
	margin-top: 40px;
}
.education .title{
	color: #323030;
	font-size: 18px;
}
.education .detail{
	color: #4D4D4D;
	margin-top: 10px;
}

.progress-wrap{
  position: relative;
}
.progress-wrap h3{
	margin-bottom: 0;
}

.progress .color1,
.progress .color1 .bar-width{
  background: #2d7da4;
}

.progress .color2,
.progress .color2 .bar-width{
  background: #6aa42f;
}

.progress .color3,
.progress .color3 .bar-width{
  background: #E5B31D;
}

.progress .color4,
.progress .color4 .bar-width{
  background: #db3615;
}
.progress .color5,
.progress .color5 .bar-width{
  background: #35C1C1;
}
.progress .color6,
.progress .color6 .bar-width{
  background: #605ca8;
}
.progress .color7,
.progress .color7 .bar-width{
  background: #d81b60;
}
.progress .color8,
.progress .color8 .bar-width{
  background: #ff851b;
}
.progress .color9,
.progress .color9 .bar-width{
  background: #111111;
}
.progress .color10,
.progress .color10 .bar-width{
  background: #3d9970;
}
.progress .color11,
.progress .color11 .bar-width{
  background: #1a4c9c;
}
.progress .color12,
.progress .color12 .bar-width{
  background: #be3f3f;
}

.progress,
.progress-bar {
  height: 15px;
  line-height: 15px;
  background: #e6e6e6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  text-align: right;
}

.progress{
  position: relative;
}

.progress .bar-width{
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  top: -30px;
  border-radius: 2px;
  margin-left: -30px;
}

.progress span{
  position: relative;
}

.progress span:before{
  content: " ";
  position: absolute;
  width: auto;
  height: auto;
  border-width: 8px 5px;
  border-style: solid;
  bottom: -15px;
  right: 8px;
}

.progress .color1 span:before{
  border-color: #2d7da4 transparent transparent transparent;
}

.progress .color2 span:before{
  border-color: #6aa42f transparent transparent transparent;
}

.progress .color3 span:before{
  border-color: #E5B31D transparent transparent transparent;
}

.progress .color4 span:before{
  border-color: #db3615 transparent transparent transparent;
}
.progress .color5 span:before{
  border-color: #35C1C1 transparent transparent transparent;
}
.progress .color6 span:before{
  border-color: #605ca8 transparent transparent transparent;
}
.progress .color7 span:before{
  border-color: #d81b60 transparent transparent transparent;
}
.progress .color8 span:before{
  border-color: #ff851b transparent transparent transparent;
}
.progress .color9 span:before{
  border-color: #111111 transparent transparent transparent;
}
.progress .color10 span:before{
  border-color: #3d9970 transparent transparent transparent;
}

.gmap iframe {
  border-radius: 50%;
  height: 280px;
  width: 300px;
}

.gmap{
    border: 10px solid #f6f5f0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.table-padding td{
	padding: 5px;
	padding-left: 0;
	vertical-align: top;
}
.table-padding .icon{
	width: 21px;
	text-align: center;
}
.icon .icon-box{
	background: #2D2D2D;
	color: #EDEDED;
	padding: 0 5px;
	border-radius: 3px;
	text-align: center;
}

.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    color: #E4990A;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.back-to-top:hover, .back-to-top:active, .back-to-top:focus {
    color: #373737
}
.back-to-top.show {
    opacity: 1;
}

.work h4 {
  margin-top: 0;
  text-transform: uppercase;
}

.work h5 {
  font-weight: 300;
}

.single-profile-top,
.single-profile-bottom {
  font-weight: 400;
  line-height: 24px;
}

.single-profile-top,
.single-profile-bottom  {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
  background: white;
}

.work-bar .first-one-arrow {
  float: left;
  margin-right: 30px;
  width: 2%;
}

.work-bar .first-arrow {
  float: left;
  margin-left: 5px;
  margin-right: 35px;
  width: 22%;
}

.work-bar .second-arrow {
  float: left;
  margin-left: 5px;
  width: 21%;
}

.work-bar .third-arrow {
  float: left;
  margin-left: 40px;
  margin-right: 12px;
  width: 22%;
}

.work-bar .fourth-arrow {
  float: left;
  margin-left: 25px;
  width: 20%;
}

.work-bar .first-one-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.work-bar .first-arrow hr {
  border-bottom: 1px solid #2D7DA4;
  border-top: 1px solid #2D7DA4;
 }

.work-bar .second-arrow hr {
  border-bottom: 1px solid #6aa42f;
  border-top: 1px solid #6aa42f;
}

.work-bar .third-arrow hr {
  border-bottom: 1px solid #FFBD20;
  border-top: 1px solid #FFBD20;

}

.work-bar .fourth-arrow hr {
  border-bottom: 1px solid #db3615;
  border-top: 1px solid #db3615;
}

.work-bar {
  margin-bottom: 15px;
  margin-top: 30px;
  position: relative;
}

.work-bar i {
  border-radius: 50%;
  color: #FFFFFF;
  display: block;
  height: 24px;
  line-height: 24px;
  margin-top: -32px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 24px;
  position: absolute;
}

.work-bar .first-arrow .fa-angle-up {
  background:#2D7DA4;
  margin-left:-33px
 }

.work-bar .second-arrow .fa-angle-down {
  background:#6AA42F;
  margin-left: -33px;
}

.work-bar .third-arrow .fa-angle-up {
  background:#FFBD20;
  margin-left: -32px;
}

.work-bar .fourth-arrow .fa-angle-down {
  background:#db3615;
  margin-left: -32px;
}

.work .single-profile-top:before,
.work .single-profile-top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.work .single-profile-top:before {
  left:26px;
  bottom: -20px;
  border-width: 10px;
  border-color:#fff transparent transparent transparent;
  z-index: 1;
}


.work .single-profile-top:after {
  left: 25px;
  bottom: -22px;
  border-style: solid;
  border-width: 11px;
  border-color:#ddd transparent transparent transparent;
  z-index: 0;
}

.work .single-profile-bottom:before,
.work .single-profile-bottom:after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
}

.work .single-profile-bottom:before {
  left:30px;
  top: -20px;
  border-width: 10px;
  border-color: transparent transparent #fff transparent;
  z-index: 1;
}

.work .single-profile-bottom:after {
  left: 29px;
  top: -22px;
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent #DDD transparent;
  z-index: 0;
}
